
body {
background-color: rgba(205, 202, 185, 0.76);
}

div#content {
padding: 6px 6px;
}

h1 {
font-family: 'Medula One', cursive;
font-weight: normal;
line-height: 46px;
font-size: 52px;
margin: 0 0 23px 0;
}

p {
font-family: 'Abel', sans-serif;
font-size: 17px;
line-height: 23px;
margin: 0 0 23px 0;
}

#maindiv {
width: 1000px;
min-width: 970px;
margin: 5px auto;
background-color: rgba(205, 202, 185, 0.72);
border: 2px solid;
}

div#logo {
margin: 10px;
}

#logo img {
padding: 6px 9px;
}

.nav ul {
list-style-type: none;
background-color: #432F21;
text-align: center;
padding: 0;
margin: 0;
}

.nav li {
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
}

.nav a {
text-decoration: none;
color: #d6d3c4;
display: block;
}

.nav a:hover {
background-color: #CA171B;
}

.logbutton {
background: #8a6020;
background-image: -webkit-linear-gradient(top, #8a6020, #454211);
background-image: -moz-linear-gradient(top, #8a6020, #454211);
background-image: -ms-linear-gradient(top, #8a6020, #454211);
background-image: -o-linear-gradient(top, #8a6020, #454211);
background-image: linear-gradient(to bottom, #8a6020, #454211);
-webkit-border-radius: 9;
-moz-border-radius: 9;
border-radius: 9px;
font-family: Arial;
color: #1c211e;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.regbutton {
background: #8a6020;
background-image: -webkit-linear-gradient(top, #8a6020, #454211);
background-image: -moz-linear-gradient(top, #8a6020, #454211);
background-image: -ms-linear-gradient(top, #8a6020, #454211);
background-image: -o-linear-gradient(top, #8a6020, #454211);
background-image: linear-gradient(to bottom, #8a6020, #454211);
-webkit-border-radius: 9;
-moz-border-radius: 9;
border-radius: 9px;
font-family: Arial;
color: #1c211e;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}


.button {
background: #8a6020;
background-image: -webkit-linear-gradient(top, #8a6020, #454211);
background-image: -moz-linear-gradient(top, #8a6020, #454211);
background-image: -ms-linear-gradient(top, #8a6020, #454211);
background-image: -o-linear-gradient(top, #8a6020, #454211);
background-image: linear-gradient(to bottom, #8a6020, #454211);
-webkit-border-radius: 9;
-moz-border-radius: 9;
border-radius: 9px;
font-family: Arial;
color: #1c211e;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.button:hover {
background: #d5db25;
background-image: -webkit-linear-gradient(top, #d5db25, #d5e038);
background-image: -moz-linear-gradient(top, #d5db25, #d5e038);
background-image: -ms-linear-gradient(top, #d5db25, #d5e038);
background-image: -o-linear-gradient(top, #d5db25, #d5e038);
background-image: linear-gradient(to bottom, #d5db25, #d5e038);
text-decoration: none;
}

div#slider {

border-radius: 10px;
width:960px;
height:390px;
margin:20px auto;
text-align:center;
background:#fff; 
-moz-box-shadow:0 0 8px #666;
-webkit-box-shadow:0 0 8px #666;
box-shadow:0 0 8px #666;
}

.autoResizeImage {
width: 100%;
height: 500px;
}

#imagetable {
width: 100%;
}

#imagetable td {
width: 900px;
}

#slider img {
padding: 0px;
} 

p.plaintext {
text-align: justify;
}

@media screen and (min-width: 600px) {
.nav li {
width: 120px;
border-bottom: none;
height: 50px;
line-height: 50px;
font-size: 1.4em;
}

/*Display Inline */
.nav li {
display: inline-block;
margin-right: -4px;
}
