<form action="?mode=loginauth" method="POST">
<table id="logintable">
	<tbody>
	<tr>
		<td class="plaintext">Username:</td>
		<td>
			<input type="text" name="username" size="15" placeholder="Username" value="<?php if(isset($username)) echo htmlspecialchars($username);?>">
		</td>
	</tr>
	<tr>
		<td class="plaintext">Password:</td>
		<td>
		<input type="password" name="pword" size="15" placeholder="Password">
		</td>
	</tr>
	<tr>
		<td>
		<input class="logbutton" type="submit" value="Log in!">
		</td>			
	</tr>
	<tr>
		<td>
		<br><a href="?mode=registerpage" class="regbutton">Register!</a>
		</td>			
	</tr>
	</tbody>
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<tr style="color:red;">
				<td><?php echo htmlspecialchars($error); ?></td>
			</tr>
		<?php endforeach;?>
	<?php endif;?>
</table>
</form>