<h1>What is Popcorn-Time?</h1>
<div class="text">
<p class="plaintext">
Popcorn Time was a multi-platform, open source BitTorrent client which included an integrated media player. The program and its forks of the same name are free alternatives to subscription-based video streaming services such as Netflix. Popcorn Time used sequential downloading to play copies of films listed by the website yts.to (earlier yify-torrent.com & yts.re), also known as YIFY (although other trackers can be added and used manually).[4]
Following its inception, Popcorn Time quickly received positive media attention, with some[5] comparing the app to Netflix due to its ease of use. After this increase in popularity, the program was abruptly taken down by its original developers on March 14, 2014 due to pressure from the MPAA.[6] Since then, Popcorn Time has been forked by several other development teams to maintain the program and produce new features.
</p>
<p class="plaintext">
The Popcorn Time interface presented thumbnails and film titles in a manner similar to Netflix. This list of media can be searched and browsed by genres or categories. When a user clicked on one of the titles, the film is downloaded via the bittorrent protocol.[7] As with other BitTorrent clients, as soon as Popcorn Time started to download a film, it also started to share the downloaded content with other users (in technical terms, it seeded the torrent to others in the bittorrent swarm.[8][9]). It continued to make the downloaded content available to others until the movie is deleted, which was normally done automatically when the application was closed.
</p>
<p class="plaintext">
Popcorn Time was developed "in a couple of weeks" by a group from Buenos Aires, Argentina who elected "Pochoclín" (derived from pochoclo = popcorn in Buenos Aires parlance) as their mascot. They believed that piracy was a "service problem" created by "an industry that portrays innovation as a threat to their antique recipe to collect value," and also argued that streaming providers were being given too many restrictions and forced to provide inconsistent service between countries, noting that streaming providers in their native Argentina "seem to believe that There's Something About Mary is a recent movie. That movie would be old enough to vote here."[10]

Made available for Linux, Mac OS X, Windows and Android, Popcorn Time's source code was downloadable from their website; the project was intended to be open source. Contributors localized the program into 44 languages.[3][10][11]
</p>
</div>