<h1>Let's see what movies Popcorn Time gives you</h1>
<table id="imagetable" border="2">
<tr>
	<?php
	global $pictures;
	$i=0;
	 foreach($pictures as $pilt){
	 if($i%3==0) { ?> </tr><tr> <?php } ?>
			<td><img class="autoResizeImage" src="<?php echo $pilt['pic'];?>" alt="<?php echo $pilt['alt'];?>"/></td> 
			<?php $i++; } ?>
</tr>
</table>