<h1>Register</h1>
<form action="?mode=registeruser" method="POST">
<table>
	<tbody>
	<tr>
		<td class="plaintext">Username:</td>
		<td>
			<input type="text" name="username" size="15" placeholder="Username" value="<?php if(isset($username)) echo htmlspecialchars($username);?>">
		</td>
	</tr>
	<tr>
		<td class="plaintext">First name:</td>
		<td>
		<input type="text" name="firstname" size="15" placeholder="First name" value="<?php if(isset($firstname)) echo htmlspecialchars($firstname);?>">
		</td>
	</tr>
	<tr>
		<td class="plaintext">Last name:</td>
		<td>
		<input type="text" name="lastname" size="15" placeholder="Last name" value="<?php if(isset($lastname)) echo htmlspecialchars($lastname);?>">
		</td>
	</tr>
	<tr>
		<td class="plaintext">Password:</td>
		<td>
		<input type="password" name="pword" size="15" placeholder="Password">
		</td>
	</tr>
	<tr>
		<td colspan="2"><input class="button" type="submit" value="Register"/></td>
		</td>
	</tr>
	</tbody>
	<?php if(isset($regerrors)):?>
		<?php foreach($regerrors as $regerror):?>
			<tr style="color:red;">
				<td><?php echo htmlspecialchars($regerror); ?></td>
			</tr>
		<?php endforeach;?>
	<?php endif;?>
</table>
</form>