﻿<h1>My Popcorn Time</h1>

<p> Here are listed movies and tv-shows you have already seen.
Add them so you know what movies or tv-series you have already seen.<p>

<div id="myshows">
<form action="review.html" method="POST">
<table border="2">		
	<tr>
		<th>Show title</th>
		<th>Date added</th>
		<th>Delete</th>
	</tr>
	<?php
		foreach($tvshows as $tvshow){
			echo '<tr>';
			echo '<td>'.$tvshow['tvshow_title'].'</td>';
			echo '<td>'.$tvshow['creation_date'].'</td>';
			echo '<td><a href="?mode=delete&id='.$tvshow['id'].'""><img src="icons/delete.png" alt="Delete"></a></td>';
			echo '</tr>';
		}
	?>				
</table>
</form>
</div>
<br>
<div id="addshows">
<form action="?mode=addshow" method="POST">
<table>
	<tr><td colspan="2"><h1>Add Shows</h1></td></tr>
	<tr><td>Name</td><td><input type="text" name="newshow"></td></tr>
	<tr><td colspan="2"><input type="submit" name="addedshow" value="Add" class="button"></td></tr>
	<!-- Errori jaoks  -->
	<?php if (isset($tverrors)):?>
		<?php foreach($tverrors as $tverror):?>
			<tr style="color:red;">
				<td><?php echo htmlspecialchars($tverror); ?></td>
			</tr>
		<?php endforeach;?>
	<?php endif;?>
</table>
</form>
</div>
