<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#hide").click(function(){
   	 			$("content").hide();
 			});
  			$("#show").click(function(){
   				$("content").show();
  			});
		});
	</script>
		<h1>Here are listed some TV Series Popcorn Time reccomends you to watch!</h1>
		<content>
		<ul id="list">
			<li>Name1</li>
			<li>Name2</li>
			<li>Name3</li>
			<li>Name4</li>
			<li>Name5</li>
			<li>Name6</li>
			<li>Name7</li>
		</ul>
		</content>
		<button id="hide" class="button">Hide</button>
		<button id="show" class="button">Show</button>